.card {
    height: 400px;
    flex-basis: calc(95% / 3);
    box-sizing: border-box;
    padding: 0;
    color: #4F4F4D;
    margin: 10px;
}

.card-body {
    font-weight: 400;
    font-size: 13px;
}

.card-header {
    font-weight: 700;
    font-size: 14.2px;
    line-height: 15.73px;
}

.card .text-dark { 
    color: #4F4F4D !important;
}

@media(max-width: 1400px) {
    .card {
        flex-basis: calc(94% / 3);
    }
}

@media(max-width: 1200px) {
    .card {
        flex-basis: calc(93% / 3);
    }
}

@media(max-width: 992px) {
    .card {
        flex-basis: calc(93% / 2);
    }
}

@media(max-width: 768px) {
    .card {
        flex-basis: calc(96% / 1);
    }
}