.box-create-task {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: 20px;
    width: 100%;
    max-width: 600px;
}

.form-floating {
    width: 100%;
}